*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
    
    padding: 5px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-left: 10px;

}
a{
    text-decoration: none;
    color: #555;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}
p{
    color: #555;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px 100px;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;

}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 40px;
    line-height: 50px;
    margin: 25px 0;
}
.col-2 p{
    font-size: 20px;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 20px 0;
    border-radius: 30px;
    text-align: center;
}
.col-3{
    flex-basis: 30%;

    margin-bottom: 30px;

}
.col-3:hover{
    border: 1px solid #777;
}
.col-3 img{
    width: 100%;
    align-items: center;
}
.col-3 .info{
    text-align: center;
    font-size: 20px;
}
.product{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px 100px;
}
.col-1{
    flex-basis: 50%;
    min-width: 300px;
}
.col-1 img{
    max-width: 70%;
    padding: 50px 0;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: lightsteelblue;
}
td{
    height: 10px;
    width: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
.col-1 p{
    padding-top: 10px;
    font-size: 20px;
    padding-bottom: 10px ;
}

